body {
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: lightgrey;
    text-align: center;
    font-size: 20px;
}

.container {
    background-color: white;
    margin: 50px 300px;
    padding: 0 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button {
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: black;
    margin-bottom: 10px;
}

button:hover {
    background-color: grey;
    cursor: pointer; 
}

a {
    color: black;
}

img {
    margin: 15px 0 0;
    border-radius: 7px 7px 0 0;
}

.wrap {
    display: flex;
    justify-content: center;
}

.card {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 7px;
    height: auto;
    width:250px
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h4 {
    margin: 0;
    padding: 0;
}