<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- link CDNJS Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Font Noto Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- BOOTSTRAP CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <!-- BOOTSTRAP JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <!-- link CSS -->
    <link rel="stylesheet" href="../assets/css/style.css" />

    <title>Personal Web</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <header>
      <nav class="navbar navbar-expand-lg bg-info">
        <div class="container-fluid">
          <img
            src="../assets/img/ratom.JPG"
            alt="logo"
            class="rounded-5 me-3"
            style="width: 3rem; height: auto"
          />
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active fs-5"
                  aria-current="page"
                  href="#"
                >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="#">My Project</a>
              </li>
            </ul>
            <a class="btn btn-dark" type="button" href="contact">
              Contact Me
            </a>
          </div>
        </div>
      </nav>
    </header>

    <!-- CONTENT -->
    <main class="p-5">
      <div class="container mt-5 p-5 rounded-3 d-flex gap-lg-5 shadow" style="max-width: 60rem;">
        <!-- introduction -->
        <section class="content-1 d-flex flex-column justify-content-center">
          <h1>Welcome To My Website</h1>
          <p class="mb-3">
            I am an aspiring Full-Stack Developer currently sharpening my skills
            through an intensive coding bootcamp. I’m learning to build complete
            web applications from front-end design to back-end functionality,
            while developing strong problem-solving and teamwork abilities.
          </p>

          <!-- link -->
          <div class="hero-actions">
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-dark me-3"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Contact
            </button>
            <a class="text-decoration-none text-black" href="#">Download CV <i class="fa-solid fa-download"></i></a>

            <div class="social-media mt-3">
              <a class="fs-2 text-decoration-none text-black" href="https://www.instagram.com/rahmat_tomy"><i
                  class="fa-brands fa-instagram"
                ></i></a>
              <a class="fs-2 text-decoration-none text-black" href="https://github.com/tosrv"><i
                  class="fa-brands fa-github"
                ></i></a>
              <a class="fs-2 text-decoration-none text-black" href="https://www.youtube.com/@ra-tom"><i
                  class="fa-brands fa-youtube"
                ></i></a>
            </div>
          </div>
        </section>

        <!-- profile image -->
        <section class="content-2">
          <div class="card shadow" style="width: 18rem">
            <img
              src="../assets/img/profile.jpg"
              class="card-img-top"
              alt="profile"
            />
            <div class="card-body">
              <h3 class="card-text text-center">Rahmat Tomy</h3>
              <p class="card-text text-center">Full-Stack Developer</p>
            </div>
          </div>
        </section>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Contact</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <h6 class="mb-0">Phone Number</h6>
              <p>0851 xxxx xx89</p>
              <h6 class="mb-0">Email</h6>
              <p>rahmattomy@gmail.com</p>
              <h6 class="mb-0">Address</h6>
              <p>Magetan, Jawa Timur</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark">
                <i class="fa-solid fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>